<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link ref="stylesheet" href="static/main.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

  <title>Diego Tadeu</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" style="font-size:2rem ;padding: 1rem;" href="https://diego-tadeu.herokuapp.com/">Diego
          Tadeu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-Text">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="#apresentacao">Apresentação</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#bets">Projeto Previsão Bets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white">Projeto SQL</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="card m-auto mb-3" style="max-width: 90%;">
    <div class="clearfix">
      <div class="col-sm-12 col-md-12 col-xm-12">
        <div class="card-body m-auto">
          <img src="static/diegotadeu.png" class="col-md-2 float-md-start" style="padding: 2em; ;" alt="Foto">
          <h3 class="card-title col-sm-10" id="apresentacao">Apresentação</h3>
          <p></p>
          <p class="card-text">Oi! Prazer em conhecer, me chamo Diego e tenho experiência de 15 anos na manutenção
            aeronáutica como técnico em química, fazendo
            reparos em peças com proteção superficial. Enquanto eu trabalhava, fiz o meu curso de graduação em física na
            UFRGS. Meu TCC
            foi com simulação computacional. Tive muitas aulas de cálculo numérico usando linux, Fortran e C. Estou
            concluindo o Mestrado em Ciência dos Materiais
            onde trabalhei com o pacote Quantum ESPRESSO para palcular propriedades de materiais usando a teoria do
            funcional da densidade.
          </p>
          <p class="card-text">Estou tentando uma transição de carreira, como tenho experiência em computação e sobrios
            conhecimentos em matemática, estatística
            e análise de contexto e generalização de problemas, sinto que terei facilidade para migrar para a ciência de
            dados.</p>
          <p class="card-text">A primeira impressão, tive a sensação de redundância, qual cientista não avalia dados?
            Esse é o método ciêntífico, testar hipóteses
            sobre resultados, os dados. Mas no contexto de TI, dados é uma expressão técnica e se utiliza métodos
            específicos para explorá-los.
          </p>
          <p class="card-text">Há uns 2 anos comecei a explorar essa área, mas nesse último ano passei a me dedicar mais
            a aprender python e suas bibliotecas específicas para o aprendizado de máquima. Ainda estou
            aprendendo boas práticas e outras linguagens necessárias como SQL, Hadoop, um pouco de front-end e back-end
            e pretendo com esse app no Heroku desenvolver
            capacidades em CI/CD, storytelling, dashboards, webscraping e contruir um pequeno portifílio com o meu
            avanço.</p>
          <p class="card-text"><small class="text-muted">Aproveitem!</small></p>
          <p class="card-text text-end">
            <a href="https://www.kaggle.com/diegotad" style="text-decoration:none;">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kaggle/kaggle-original.svg"
                style="height:3em;" alt="Kaggle" />
            </a>
            <a href="https://github.com/djegocoder" style="text-decoration:none ;">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg"
                style="height:3em;" alt="GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/diego-tadeu/" style="text-decoration:none;">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
                style="height:3em;" alt="LinkedIn" />
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <main>

    <div class="card m-auto mb-3" data-aos="zoom-in" style="max-width: 90%;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title m-auto mb-auto ml-auto" class="container" id="bets">Projeto Previsão Bets</h3>
            <p class="card-text">Qual é a brincadeira? É a seguinte, é possível prever as ODDs das plataformas de
              apostas?</p>
            <p class="card-text">Depois de um ajuste jurídico na legislação brasileira, as plataformas de apostas
              esportivas cresceram muito. Um reflexo
              bem notável é no patrocínio do campeonato brasileiro de futebol masculino série a. Cada um dos 20 times da
              série a de 2022 tem o patrocínio de uma plataforma de aposta.
            </p>
            <div class="p-card-text">As plataformas usam dados dos resultados anteriores e opiniões de especialistas
              para determinar as suas ODDs mas será que é possível prever as ODDs só com base nos resultados anteriores?
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container" data-aos="zoom-in" data-aos-duraction="300">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
          <div class="m-auto mr-auto">
            <div class="card-bory sd-8">
              
            <div class="h2">Primeiro apresentamos os 20 times</div>
            <div id='chart1' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" data-aos="zoom-in" data-aos-duraction="300">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
          <div class="m-auto mr-auto">
            <div class="card-bory sd-8">
              
            <div class="h2">Em seguida, as plataformas de apostas</div>
            <div id='chart2' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" data-aos="zoom-in" data-aos-duraction="300">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
          <div class="m-auto mr-auto">
            <div class="card-bory sd-8">
              
            <div class="h2">Em seguida, as plataformas de apostas</div>
            <div id='chart3' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" data-aos="zoom-in" data-aos-duraction="300">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
          <div class="m-auto mr-auto">
            <div class="card-bory sd-8">
              
            <div class="h2">Em seguida, as plataformas de apostas</div>
            <div id='chart4' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" data-aos="zoom-in" data-aos-duraction="300">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
          <div class="m-auto mr-auto">
            <div class="card-bory sd-8">
              
            <div class="h2">Em seguida, as plataformas de apostas</div>
            <div id='chart5' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" data-aos="zoom-in" data-aos-duraction="300">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
          <div class="m-auto mr-auto">
            <div class="card-bory sd-8">
              
            <div class="h2">Em seguida, as plataformas de apostas</div>
            <div id='chart6' class='card-body col-sm-10 col-md-10 col-xm-10 row-'></div>
          </div>
        </div>
      </div>
    </div>

  </main>

</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs1 = {{ graph1JSON | safe}};
  Plotly.plot('chart1', graphs1, {});

  var graphs2 = {{ graph2JSON | safe}};
  Plotly.plot('chart2', graphs2, {});

  var graphs3 = {{ graph3JSON | safe}};
  Plotly.plot('chart3', graphs3, {});

  var graphs4 = {{ graph4JSON | safe}};
  Plotly.plot('chart4', graphs4, {});

  var graphs5 = {{ graph5JSON | safe}};
  Plotly.plot('chart5', graphs5, {});

  var graphs6 = {{ graph6JSON | safe}};
  Plotly.plot('chart6', graphs6, {});
</script>

</html>